*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/bg.jpg');
    height: 100vh;
    background-size: cover ;
    background-position: center;
}
.menu{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
}
.menu li#lk a{
    border: 1px solid #fff;
}
.menu li:hover a{
    border: 1px solid #fff;
}
.logo img{
    width: 120px;
    height: auto;
    float: left;
}
.coluna{
    width: 1200px;
    margin: auto;
}
.txt{
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-10%, -10%);
}
h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px ;
}
.botao{
    margin: 30px 250px 0 250px;
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
}
.btn-um{
    background: darkorange;
    margin-right: 20px;
}
.btn-ds:hover{
    background: darkorange;
    transition: all 0.5s ease-in;
}